* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* container */
.container {
  max-width: 1740px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



